* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 700;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .wrapper {
    height: 100%;
  }
}

.header {
  display: none;
}

@media (max-width: 767px) {
  .header {
    display: block;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
}

.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url("../img/icons/return-button.svg") 24px 20px/20px no-repeat, #fff;
}

.header__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 58px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.header__profile-image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
}

.header__profile-image img {
  max-width: 100%;
  display: block;
}

@media (max-width: 767px) {
  .header__profile-image.show {
    opacity: 0;
  }
}

.header__logo {
  font-weight: bold;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #58a193;
  position: relative;
  z-index: 3;
}

.header__burger {
  display: none;
}

@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    z-index: 5;
    width: 24px;
    height: 17px;
  }
  .header__burger span {
    position: absolute;
    background-color: #58a193;
    left: 0;
    width: 100%;
    height: 3px;
    top: 7px;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before, .header__burger:after {
    content: "";
    background-color: #58a193;
    border-radius: 2px;
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .header__burger:before {
    top: 0;
  }
  .header__burger:after {
    bottom: 0;
  }
  .header__burger.active:before {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 7px;
  }
  .header__burger.active:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 7px;
  }
  .header__burger.active span {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.header__menu-bg {
  display: none;
}

@media (max-width: 767px) {
  .header__menu-bg {
    display: block;
    background-color: rgba(0, 0, 0, 0.25);
    width: 130vw;
    height: 130vh;
    position: absolute;
    top: -60px;
    left: -60px;
    z-index: 3;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    visibility: hidden;
    opacity: 0;
  }
  .header__menu-bg.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
}

.close-menu-area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.header__menu {
  display: none;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (max-width: 767px) {
  .header__menu {
    display: block;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100%;
    background-color: #fff;
    padding: 67px 0 0 20px;
    z-index: 4;
  }
  .header__menu.active {
    right: 0;
  }
}

.header__list {
  position: relative;
  z-index: 2;
}

.header__list li {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 22px;
  opacity: 0.5;
}

.header__list li.chosen {
  opacity: 1;
}

.header__link {
  padding: 0 0 0 36px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #58a193;
  display: block;
}

.header__profile {
  display: none;
}

@media (max-width: 767px) {
  .header__profile {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    z-index: 2;
    margin-top: 58px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
    clip: rect(0, 0, 0, 0);
  }
  .header__profile.show {
    -webkit-transform: translate(0, 0%);
            transform: translate(0, 0%);
    clip: auto;
  }
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .container {
    height: 100%;
  }
}

@media (max-width: 767px) {
  .quiz {
    height: 100%;
  }
}

.quiz__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 767px) {
  .quiz__body {
    margin-top: 58px;
  }
  .quiz__body.show {
    display: none;
  }
}

.aside {
  height: 100%;
  width: 210px;
  padding: 30px 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
}

@media (min-width: 768px) {
  .aside.passive {
    width: 60px;
  }
}

@media (max-width: 767px) {
  .aside {
    display: none;
  }
}

.aside__menu {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.aside__hide {
  width: 40px;
  height: 90px;
  position: relative;
  top: 100px;
  left: 160px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.aside__hide span {
  width: 4px;
  height: 86px;
  background-color: #58a193;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 2px;
  left: 8px;
}

@media (min-width: 768px) {
  .aside__hide.passive {
    left: 20px;
  }
}

.aside__title {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 0 39px 39px;
}

.aside__title a {
  font-weight: bold;
  font-size: 24px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #58a193;
}

.aside__title span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.aside__title span:first-child {
  display: none;
}

.aside__title span:last-child {
  display: block;
}

@media (min-width: 768px) {
  .aside__title.passive {
    margin: 0 0 22px -9px;
  }
  .aside__title.passive a {
    font-size: 20px;
  }
  .aside__title.passive span:last-child {
    display: none;
  }
  .aside__title.passive span:first-child {
    display: block;
  }
}

.aside__list li {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 20px;
  opacity: 0.5;
}

.aside__list li:hover {
  left: 4px;
  opacity: 1;
}

.aside__list li.chosen {
  opacity: 1;
}

.aside__link {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #58a193;
  padding-left: 39px;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
}

.aside__link span {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .aside__link.passive span {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.aside__link-test {
  background: url("../img/icons/test.svg") left no-repeat;
}

.aside__link-list {
  background: url("../img/icons/list.svg") left no-repeat;
}

.aside__link-company {
  background: url("../img/icons/company.svg") left no-repeat;
}

.main {
  background: #f1faf6;
  padding: 30px 20px;
  margin-left: 210px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .main.passive {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .main {
    margin-left: 0;
  }
  .main.passive {
    margin-left: 0px;
  }
}

.title {
  font-weight: bold;
  font-size: 42px;
  line-height: 49px;
  letter-spacing: 0.1px;
  color: #58a193;
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .title {
    font-size: 28px;
    line-height: 36px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
  }
}

@media (max-width: 360px) {
  .title {
    font-size: 28px;
    line-height: 30px;
  }
}

.main__filter {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .main__filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 10px;
  }
}

.main__search {
  width: 100%;
  height: 45px;
  background: url("../img/icons/magnifier.svg") 17px 13px no-repeat, #ffffff;
  border: 1px solid rgba(88, 161, 147, 0.2);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 0 10px 0 50px;
  font-size: 16px;
}

.filter-button {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #ffffff;
  cursor: pointer;
  padding: 6px 15px;
  background: #58a193;
  border-radius: 20px;
  display: inline-block;
  margin-right: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.filter-button:hover {
  background: #09886f;
}

.filter-button.pressed {
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

@media (max-width: 992px) {
  .filter-button {
    margin-bottom: 10px;
  }
}

.subtitle {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #252525;
  margin-bottom: 12px;
}

.main__tests {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 767px) {
  .main__tests {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 318px;
          flex: 0 0 318px;
  height: 192px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px 25px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__card:nth-child(odd) {
  margin-right: 20px;
}

@media (max-width: 1151px) {
  .main__card {
    margin: 0px 20px 20px 0;
  }
  .main__card:nth-child(odd) {
    margin: 0px 20px 20px 0;
  }
}

@media (max-width: 992px) {
  .main__card {
    min-height: 360px;
    height: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 250px;
            flex: 0 0 250px;
  }
}

@media (max-width: 767px) {
  .main__card {
    min-height: 195px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 335px;
            flex: 0 0 335px;
    margin-bottom: 16px;
  }
}

@media (max-width: 400px) {
  .main__card {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 335px;
            flex: 1 1 335px;
    margin: 0px 0px 20px 0;
  }
  .main__card:nth-child(odd) {
    margin: 0px 0px 20px 0;
  }
}

@media (max-width: 360px) {
  .main__card {
    min-height: 230px;
  }
}

.main__card-folder {
  background: url("../img/icons/safety.png") bottom/100% no-repeat, #fff;
}

.card-image {
  position: absolute;
  top: 20px;
  right: 30px;
}

.card-image img {
  max-height: 110px;
}

@media (max-width: 992px) {
  .card-image {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 767px) {
  .card-image {
    position: absolute;
    top: 20px;
    right: 30px;
  }
}

.card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #58a193;
  max-width: 220px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 992px) {
  .card-title {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
}

@media (max-width: 767px) {
  .card-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

@media (max-width: 360px) {
  .card-title {
    font-size: 14px;
    max-width: 180px;
  }
}

.card-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 992px) {
  .card-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .card-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 360px) {
  .card-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.learn-button {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #58a193;
  border: 1px solid #58a193;
  border-radius: 3px;
  padding: 5px 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.learn-button:hover {
  background-color: #58a193;
  color: #ffffff;
}

@media (max-width: 992px) {
  .learn-button {
    margin-top: 10px;
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .learn-button {
    margin: 0 10px 0 0;
    white-space: nowrap;
  }
}

@media (max-width: 360px) {
  .learn-button {
    margin: 10px 0px 0 0;
  }
}

.test-button {
  background: #5790ad;
  border-radius: 3px;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #5790ad;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.test-button:hover {
  background-color: transparent;
  color: #5790ad;
}

@media (max-width: 992px) {
  .test-button {
    width: 100%;
    text-align: center;
  }
}

.profile {
  padding: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: 0;
  right: 0;
  width: 246px;
  background: url("../img/profilebg.jpg") bottom no-repeat;
}

@media (min-width: 768px) {
  .profile.passive {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
            flex: 0 0 70px;
    width: 70px;
    background: #fff;
  }
}

@media (max-width: 767px) {
  .profile {
    display: none;
  }
}

.decor {
  position: absolute;
  top: 40px;
  left: 120px;
  z-index: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  .decor.passive {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  .decor {
    left: 50%;
    -webkit-transform: translate(-3px);
            transform: translate(-3px);
  }
}

.profile__technical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .profile__technical.passive {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  .profile__info-bg {
    background: #f1faf6;
    padding: 20px 20px 15px 20px;
    margin-bottom: 10px;
  }
}

.profile__star {
  background: url("../img/icons/star.svg") 0 2px no-repeat;
  padding-left: 21px;
  cursor: pointer;
}

.profile__star a {
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #252525;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profile__star:hover {
  text-decoration: underline;
}

.profile__quit {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  top: 0;
  left: 0;
}

.profile__quit:hover {
  left: 4px;
}

.profile__image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  margin-bottom: 9px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.profile__image img {
  max-width: 100%;
}

@media (min-width: 768px) {
  .profile__image.passive {
    width: 37px;
    height: 37px;
  }
}

@media (max-width: 767px) {
  .profile__image {
    margin: 0 auto 10px auto;
  }
}

.profile__name {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #252525;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .profile__name.passive {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

.profile__position {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: rgba(37, 37, 37, 0.5);
  text-align: center;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .profile__position.passive {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  .profile__position {
    margin-bottom: 0;
  }
}

.profile__tests-done {
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #58a193;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .profile__tests-done.passive {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  .profile__tests-done {
    text-align: center;
  }
}

.profile__finished-tests {
  background: #f1faf6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 10px 14px 20px 14px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .profile__finished-tests.passive {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
  }
}

@media (max-width: 767px) {
  .profile__finished-tests {
    margin: 0 20px 40px 20px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}

.done-test {
  margin-bottom: 30px;
}

.test-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
}

.test-description {
  font-size: 12px;
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #6d6d6d;
}

@media (max-width: 767px) {
  .test-description {
    margin-right: 10px;
  }
}

.test-percentage {
  position: relative;
  top: 6px;
  left: 0;
}

.test-bar {
  background: rgba(196, 196, 196, 0.2);
  border-radius: 5px;
  height: 6px;
  width: 100%;
  margin-bottom: 12px;
  position: relative;
}

.test-bar span {
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 46%;
  background: #5790ad;
  border-radius: 5px;
  display: inline-block;
}

.test-bar .span30 {
  width: 30%;
  background-color: #f08a9a;
}

.test-bar .span99 {
  width: 99%;
}

.test-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.repeat-button {
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #ffffff;
  background: #58a193;
  border-radius: 3px;
  padding: 5px 12px;
  border: 1px solid #58a193;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  white-space: nowrap;
}

.repeat-button:hover {
  color: #58a193;
  background-color: #f1faf6;
}

.test__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.test__questions {
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  margin-bottom: 25px;
  display: inline-block;
}

@media (max-width: 992px) {
  .test__questions {
    margin-bottom: 10px;
  }
}

.test__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.test__list li {
  padding: 15px 10px;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  position: relative;
  z-index: 0;
}

.test__list li.answered {
  background: #cfeee8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.test__list li.answered:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -4px;
  height: 100%;
  width: 10px;
  background-color: #cfeee8;
  z-index: 10;
  border-radius: 5px;
}

.test__list li.answered:first-child {
  border-radius: 5px 0 0 5px;
}

.test__list li.answered:first-child:before {
  display: none;
}

.test__list li.current {
  background: #cfeee8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0px 5px 5px 0px;
  margin-right: 10px;
}

.test__list li.current a {
  color: #58a193;
  font-weight: 700;
}

.test__list li.current:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1px;
  right: -9px;
  height: 0;
  width: 0;
  border-top: 25px solid transparent;
  border-left: 10px solid #cfeee8;
  border-bottom: 25px solid transparent;
}

.test__list li.current:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0px;
  left: -4px;
  height: 100%;
  width: 10px;
  background-color: #cfeee8;
  z-index: 1;
  border-radius: 5px;
}

@media (max-width: 550px) {
  .test__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50px;
            flex: 0 0 50px;
  }
}

.test__link {
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #636464;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.test__link:hover {
  font-weight: 700;
}

@media (max-width: 550px) {
  .test__link {
    font-size: 12px;
  }
}

.test__board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 992px) {
  .test__board {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.test__canvas {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 25px;
}

@media (max-width: 550px) {
  .test__canvas {
    padding: 10px;
  }
}

.test__question {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.1px;
  color: #5e5c5c;
  margin-bottom: 27px;
}

@media (max-width: 992px) {
  .test__question {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.test__form-options {
  margin-bottom: 24px;
}

@media (max-width: 992px) {
  .test__form-options {
    margin-bottom: 10px;
  }
}

.test__form-option {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 16px;
  letter-spacing: 0.1px;
  color: #5e5c5c;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  padding-left: 34px;
  position: relative;
}

.test__form-option input {
  display: none;
}

.test__form-option:before {
  content: "";
  display: inline-block;
  height: 18px;
  width: 18px;
  border: 2px solid #5d5c5c;
  border-radius: 1px;
  position: absolute;
  left: 0;
  top: 0;
}

.test__form-option:after {
  content: "";
  position: absolute;
  background: url("../img/icons/tick.svg") 0 0/0% no-repeat;
  width: 30px;
  height: 30px;
  left: 4px;
  top: 5px;
}

.test__form-option.active:after {
  background: url("../img/icons/tick.svg") 0 0/11px no-repeat;
}

@media (max-width: 550px) {
  .test__form-option {
    padding-left: 25px;
  }
}

.test__form-interact select {
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #5e5c5c;
  padding: 5px 26px 5px 7px;
  border: 1px solid #5790ad;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  margin-left: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  background: url("../img/icons/select.svg") 93% 55% no-repeat;
}

@media (max-width: 992px) {
  .test__form-interact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .test__form-interact select {
    margin-left: 0;
    margin-bottom: 10px;
  }
}

.answer {
  line-height: 21px;
  letter-spacing: 0.1px;
  color: #ffffff;
  padding: 5px 12px;
  background: #5790ad;
  border-radius: 3px;
  border: 1px solid #5790ad;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.answer:hover {
  background-color: #fff;
  color: #5790ad;
}

.test__image-block {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 133px;
          flex: 0 0 133px;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 992px) {
  .test__image-block {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 550px) {
  .test__image-block {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60px;
            flex: 1 1 60px;
  }
}

.test__help {
  white-space: nowrap;
  line-height: 16px;
  letter-spacing: 0.1px;
  padding: 12px;
  background-color: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.test__help:hover {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.test__image img {
  max-width: 100%;
}

@media (max-width: 992px) {
  .test__image {
    height: 140px;
    overflow: hidden;
  }
}

@media (max-width: 550px) {
  .test__image {
    height: 80px;
  }
}

.footer {
  height: 58px;
  margin-left: 210px;
  background-color: #58a193;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 768px) {
  .footer.passive {
    margin-left: 60px;
  }
}

@media (max-width: 767px) {
  .footer {
    margin-left: 0;
  }
  .footer.show {
    display: none;
  }
}

.footer__text {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  line-height: 14px;
}

.profile__footer {
  display: none;
  height: 58px;
  margin-left: 210px;
  background-color: #58a193;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 0;
}

@media (max-width: 767px) {
  .profile__footer {
    display: block;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}
